body{
    height: 1500px;
}
/*   主页 */
.top-bar-wrapper{
    height:40px ;
    background: #333;
    font-size: 12px;
    position: relative;
    display: block;
}
.container{
    margin-right: auto;
    margin-left: auto;
    height: 40px;
}
.container ul:not(.shop-car) :hover a{
    color: #fff;
}
/* 二维码 */
.app .qrcode{
    /* display: none; */
    height: 0;
    overflow: hidden;
    width: 124px;    
    position: absolute;
    left: -40px;
    background-color: #fff;
    line-height: 1;
    box-shadow: 0 0 10px rgba(0 , 0, 0, .3);
    text-align: center;   
    transition:height 0.3s;
    z-index: 1000;
}
.app-li:hover .qrcode
,.app-li:hover::after{
    height: 148px;
    display: block;
   
}

.app-li{
    position: relative;
}
.app-li:hover>.app::after{
    content: '';
    width: 0;
    height: 0;
    /* 开启绝对定位 */
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
   margin: auto;
    border: 8px solid transparent;
    border-top: none;
    border-bottom-color:#fff ;


}
/* 二维码 图片*/
.app .qrcode img{
    width: 90px;
    margin: 16px 17px;
    margin-bottom: 10px;
}
.app .qrcode span{
    color: black;
    font-size: 14px;
    color: #333;
}
.right .shop-car:hover a
,.show-main-all ul li:hover span{
    color: #ff6700;
}
.right .shop-car:hover
, .show-main-all ul li:hover {
    background-color: #fff;
}
/*  设置购物车详情  */
.shop-car-detail{
    height: 0px;
    overflow: hidden;
    width: 320px;    
    position: absolute;
    right:178px ;
    top: 40px;
    background-color: #fff;
    line-height: 1;
    /* box-shadow: 
      0 0 0px rgba(0 , 0, 0, .2),
      0 0 10px rgba(0 , 0, 0, .2),
      0 0 10px rgba(0 , 0, 0, .2),
      0 0 10px rgba(0 , 0, 0, .2); */
    text-align: center;   
    transition:all 0.2s;  
}
.shop-car-detail span{
    display: block;
    margin: 0 20px 20px;
    padding: 45px 0 20px;
    color: #424242;
}
.shop-car:hover .shop-car-detail{
    display: block;
    height: 100px;
    box-shadow: 
    0 8px 10px rgba(0 , 0, 0, .2);
    z-index: 30;
}

.left  li a ,.right li a {
    font-size: 12px;
    color: #b0b0b0;
}
 .right  li,.left li{
    float: left;
    margin: 0 6px;
    height: 40px;
    line-height: 40px;
}
.left li:not(.space-line){
     margin: 0 0;
}
.right ul,.right-server li ,shop-car li {
    float: left;
}
.right-server{
    margin-right: 40px;
}
.right {
    float: right;
    margin-right: 20px;
}
.shop-car{
    background-color: #424242;
    
}


.space-line {
    line-height: 40px;
    font-size: 12px;
    margin: auto 3.6px;
    color: #424242;
    font-family: sans-serif;
}
/* 设置第二层头部 */
.header-container{
    height: 100px;

}
.header-container .header-logo{
    float: left;
    margin-top: 22px;
    width: 55px;
    height: 55px;
    position: relative;
    overflow: hidden;
}
.header-container .header-logo .mi{
    position: absolute;
    width: 55px;
    height: 55px;
    left: 0px;
    background-color: #ff6700;
    background-image: url("../img/mi-logo.png");
    background-position: center;
    transition: left 0.2s;
}
.header-container .header-logo .home{
    left: -55px;
    width: 55px;
    height: 55px;
    position: absolute;
    background-color: #ff6700;
    background-image: url(../img/mi-home.png);
    background-position: center;
    transition: left 0.2s;
}
/* 设置logo动画 */
.header-container .header-logo:hover .mi{
    left: 55px;
}
.header-container .header-logo:hover .home{
    left: 0px;
}
/* 设置导航 */
.header .nav{
    float: left;
}
.nav>li{
    float: left;
}
/* 设置全部商品列表 */
.all-goods-wrapper{
    position: relative;
}
.left-menu{
    height: 420px;
    width: 234px;
    padding: 20px 0;
    background-color: rgba(0 , 0, 0, .6);
    position: absolute;
    z-index: 20;
    left: -120px;
    line-height: 1;
}
ul .left-menu li a{
    display: block;
    height: 42px;
    line-height: 42px;
    color:  #fff;
    margin-right: 0;
    padding: 0 23px 0 29px;
    font-size: 14px;
}

ul .left-menu>li:not(:last-of-type) a:hover{
    background-color: #ff6700;
}
.left-menu a i{
    float: right;
    line-height: 42px;
    color: hsla(0,0%,100%,.5);
    font-size: 20px;
}
/* 设置left-menu显示详情 */
ul .left-menu .show-main {
    display: none;
    position: absolute;
    top: 0;
    left: 234px;
    width: 992px;
    height: 460px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,.18);
    z-index: 500;

}
/* 设置left-menu划过显示 */
.nav .left-menu li:hover~.show-main,
.nav ,.left-menu .show-main:hover{
    display: block;
    
}

/* 设置完整商品样式 */
.show-main-all ul{
    width: 248px;
    height: 456px;
    margin: 0px;
    float: left;
    padding :2px 0;
}
/* 设置列項 */
.show-main-all ul li{
    position: relative;
    float: left;
    width: 248px;
    height: 76.3px;
}
.show-main-all ul li a{
    padding: 18px 20px;
    display: block;
    line-height: 40px;
    color: #333;
    transition: color .2s;
}
/* 设置图片 */
.show-main-all ul li div{
    width: 60px;
    height: 100%;
    background-color: #fff;
    background-image: url(../img/t1.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin-right: 1px;
}
.show-main-all ul li span{
    color: black;
    font-size: 14px;
    float: left;
    width: 147px;
    line-height: 40px;
}



.header{
    position: relative;
}
.header-cate .nav{
    height: 100px;
    line-height: 100px;
    margin-left: 7px;
    padding-left: 58px;
}
 .nav li a{
    font-size: 16px;
    margin-right: 20px;
}
/* 隐藏全部商品 */
.all-goods{
    visibility: hidden;
}
.nav li:hover a{
    color: #ff6700;
}
/* 覆盖设置 */
.nav li .left-menu a{
    color: #fff;
}
/* 全部商品详情 */
.nav .goods-info{
    height: 0px;
    overflow: hidden;
    /* height: 228px; */
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 100px;
    left: 0px;
    box-shadow: none;
    z-index: 800;
    /* border-top:1px solid rgb(224,224,224);
    box-shadow: 0 5px 2px rgba(0 , 0, 0, .2); */
    transition: height 0.3s, box-shadow 0.2s;
}
.nav li:not(:first-of-type):not(:nth-child(10)):not(:nth-child(9)):hover ~.goods-info,
.goods-info:hover{
    border-top:1px solid rgb(224,224,224);
    box-shadow: 0 4px 10px rgba(0 , 0, 0, .2);
    height: 228px;
}
/*  */
.search-wrapper{
    width: 296px;
    height: 50px;
    border: 1px solid #e0e0e0;
    float: right;
    margin-top: 25px;
    outline: none;
}
/* 搜索栏 */
.search-wrapper .search-input{
    box-sizing: border-box;
    float: left;
    height: 50px;
    padding: 0px 10px;
    border: 1px solid rgb(224,224,224);
    width: 244px;
    font-size: 16px;
    outline: none;

}
/* 设置input内字体样式 */
input::-webkit-input-placeholder {
    color: #d0d0d0;
    font-size: 14px;
}
/* 获取焦点后 */
.search-wrapper .search-input:focus,
.search-wrapper .search-input:focus + button{
    border-color:  #ff6700;
    
}

.search-wrapper .search-btn{
    float: left;
    height: 50px;
    width: 52px;
    border:none;
    padding: 0px;
    background-color: #fff;
    color: #616161;
    font-size: 14px;
    border: 1px solid rgb(224,224,224);
    border-left:none;
}
.search-wrapper .search-btn:hover{
    background-color: #ff6700;
}
/*  创建弹出列表详情 */
.goods-info-detail{
    
}
.goods-info-detail li{
    padding: 0px 12px 0;
}
.goods-info-detail li a{
    float: left;
    background-image: url(../img/t1.webp);
    background-position: center;
    background-repeat: no-repeat;
    width: 160px;
    height: 198px;
    margin: auto;
    background-size: contain;
    position: relative;
    margin-left: 12px;
    margin-right: 12px;
}
.goods-info-detail li a .main-detail {
    margin:140px auto 0px;
    width: 160px;
    height: 62px;
    line-height: 62px;
    font-size: 12px;
    color: #333;
    
}
.goods-info-detail li a .main-detail span{
    display: block;
    width: 164px;
    height: 18px;
    margin: 0;
    text-align: center;
}
.goods-info-detail li a .main-detail :nth-child(1){
    padding-top: 9px;
}
.goods-info-detail li a .main-detail :nth-child(2){
    color: #ff6700;
}
/* 设置分隔符 */
 .goods-info-detail .line:not(:last-of-type)::after{
    position: absolute;
    top: 35px;
    z-index: 1;
    width: 0.5px;
    height: 100px;
    content: "";
    background-color: #e0e0e0;
}
/* 设置banner */
.banner{
    position: relative;
    height: 460px;
}

.banner img{
    width: 100%;
    vertical-align: top;
}
.banner .img-lists li{
    position: absolute;
    transition: all,.8s;
}
.banner .img-lists li a{
    display: block;
    height: 460px;
    width: 1226px;
}
/* 设置pointer */
.pointer{
    position: absolute;
    right: 35px;
    bottom: 22px;
}
.pointer a{
    float: left;
    width: 6px;
    height: 6px;
    border: 2px solid hsla(0,0%,100%,.3);
    background-color: rgba(0 , 0, 0, .4);
    border-radius: 10px;
    margin-left: 6px;
    opacity: 1;
}
.pointer a:hover
 {
    border-color:rgba(0 , 0, 0, .4) ;
    background-color: hsla(0,0%,100%,.3);
}
.pre-next a{
    width: 41px;
    height: 69px;
    background-image: url(../img/icon-slides.png);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.pre-next .pre{
    left: 234px;
    background-position: -84px 0;
}
.pre-next .pre:hover{
    background-position: 0 0;
}
.pre-next .next{
    right: 0;
    background-position: -125px 0;
}
.pre-next .next:hover{
    background-position: -43px 0;
}
.backtop{
    width: 84px;
    height: 561px;
    position: fixed;
    bottom: 70px;
    right: 0;
    z-index: 9999;
}
.backtop a{
    position: relative;
    display: block;
    width: 82px;
    height: 90px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    text-align: center;
}
.backtop a div{
    color: #757575;
    position: relative;
    text-align: center;
}
.backtop a span{
    display: block;
    margin-top: 50px;
    color: #757575;
    transition: color .3s;
}
.backtop a div img{
    position: absolute;
    top: 0;
    left: 26px;
    width: 30px;
    height: 30px;
    padding-top: 16px;
    /* transition: opacity .3s; */
}
.backtop  img:nth-of-type(2){
    opacity: 0;
    transition: opacity .3s;
}
.backtop a:hover img{
    position: absolute;
    top: 0;
    left: 26px;
    width: 30px;
    height: 30px;
    padding-top: 16px;
    opacity: 1;
}
.backtop a:hover span{
 color: #ff6700;
}
/* 右侧二维码 */
 .qrcode-1{
    width: 130px;
    height: 192px;
    top: -71px;
    left: -140px;
    position: absolute;
    visibility:hidden;
    /* border: 1px solid #f5f5f5; */
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0 , 0, 0, .2);
    opacity: 0;
    overflow: hidden;
    transition: opacity .3s;
}
.backtop a div .g12 {
    width: 100px;
    height: 100px;
    display: block;
    margin: 6px -10px;
    border: 0;
}
.backtop a div .g13 {
    padding: 85px 25px;
    color: #757575;;
}
.backtop .sdsd:hover .qrcode-1,
.backtop .sdsd:hover .qrcode-1{
    opacity: 1;
    display: block; 
    visibility: visible;
}
/* 广告栏 */
 .ad {
    height: 170px;
    margin-top: 14px ;
    margin-left: auto;
    margin-right: auto;
    width: 1226px;   
    margin-bottom: 26px; 
}
.ad .shortcut,
.ad  .imgs,
.ad li{
    float: left;
    
}
.ad .shortcut{
    width: 234px;
    height: 170px;
    background-color: #5f5750;
    margin-right: 14px;
    
}
.ad .shortcut li{
    position: relative;
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
    text-align: center;
}
.ad .shortcut a{
    position: relative;
    display: block;
    color:  #fff;;
    font-size:12px;
    padding:18px 0 0;
    opacity: .7;
    transition: opacity .2s;
}
.ad .shortcut a:hover{
    opacity: 1;
}
.ad .shortcut a img{
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto 4px;
}
.ad  .imgs{
    height: 100%;
}
.ad .imgs li {
    width: 316px;
    margin-right: 15px;
    height: 100%;
    transition: box-shadow .2s linear;
    -webkit-transition:-webkit-box-shadow .2s linear;
} 
.ad .shortcut li::before{
    position: absolute;
    content: "";
    top: 0px;
    left: 6px;
    width: 64px;
    height: 1px;
    background: #665e57;
}
.ad .shortcut li:after{
    position: absolute;
    content: "";
    top: 6px;
    left: 0;
    width: 1px;
    height: 70px;
    background: #665e57;
    
}
.ad .imgs li:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    z-index: 2;
}
.ad .imgs li:last-child{
    margin: 0;
}
.ad .imgs li img{
    width: 100%;
}
/* 主体部分 */
/*  */
/*  */
.home-main{
    padding-top: 4px;
    padding-bottom: 12px;
    background: #f5f5f5;
}
.home-flashsale{
    margin-bottom: 22px;
    position: relative;
}
/* 闪购头部 */
.home-flashsale .box-hd{
    position: relative;
    height: 58px;
}
.home-flashsale .box-hd .title{
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.home-flashsale .flashsale-countdown{
    height: 300px;
    padding-top: 39px;
    border-top-width: 1px;
    border-top-style: solid;
    background: #f1eded;
    text-align: center;
    width: 234px;
    border-top-color: #e53935;
    float: left;
}
.home-flashsale .round{
    font-size: 21px;
    color: #ef3a3b;
    padding-top: 15px;
}
.home-flashsale .flashsale-countdown img{
    margin: 25px auto;
}
.home-flashsale .desc{
    color: rgba(0,0,0,.54);
    font-size: 15px;
}
.home-flashsale .countdown{
    color: rgba(0,0,0,.54);
    font-size: 15px;
    width: 168px;
    margin: 28px auto 0;
    
}
.home-flashsale .countdown span{
    width: 46px;
    height: 46px;
    background: #605751;
    color: #fff;
    font-size: 24px;
    line-height: 46px;
    float: left;
}
.home-flashsale .countdown i{
    width: 15px;
    float: left;
    height: 46px;
    line-height: 46px;
    color: #605751;
    font-size: 28px;
    font-style: normal;
}
/* 循环列表 */
.home-flashsale .flashSaleList{
    width: 978px;
    height: 340px;
    float: left;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    list-style: none;
    padding: 0;
    z-index: 1;
    margin-left: 14px;
    
}
.home-flashsale .flashSaleList ul{
    margin: 0;
    padding: 0;
    height: 340px;
    float: left;
    display: flex;
    transform: translate3d(0px, 0px, 0px);
}
.home-flashsale .flashSaleList ul li{
    width: 234px;
    margin-right: 14px;
    border-top-width: 1px;
    border-top-style: solid;
    background-color: #fff;
    text-align: center;
    -webkit-transition: all .6s;
    transition: all .6s;
    position: relative;
    list-style: none;
    float: left;
    transition: all .3s;
}
.home-flashsale .flashSaleList ul li:hover{
    transform: translateY(-5px);
    box-shadow: 0 0px 10px rgba(0 , 0, 0, .2);
}
.home-flashsale .flashSaleList ul li a{
    display: block;
    height: 300px;
    padding-top: 39px;
    position: relative;
    text-align: center;
}
.home-flashsale .flashSaleList img{
    display: block;
    width: 160px;
    margin: 0 auto 22px;
}
.home-flashsale .flashSaleList h3{
    margin: 0 20px 3px;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    color: #212121;
    overflow: hidden;
    white-space: nowrap;
}
.home-flashsale .flashSaleList .desc-1{
    height: 18px;
    margin: 0 20px 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    color: #b0b0b0;
    overflow: hidden;
    white-space: nowrap;
}
.home-flashsale .flashSaleList .price{
    margin: 0;
    color: #ff6709;
}
.home-flashsale .flashSaleList .price del{
    color: #b0b0b0;
}
.home-flashsale .flashSaleList ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(0,0,0,.02);
}
 .swiper-wrapper{
     overflow: hidden;
 }
 /* 设置彩虹边框 */
 .flashSaleList .rainbow-item-1{
    border-top-color: #ffac13;
 }
 .flashSaleList .rainbow-item-2{
    border-top-color: #83c44e;
 }
 .flashSaleList .rainbow-item-3{
    border-top-color: #2196f3;
 }
 .flashSaleList .rainbow-item-4{
    border-top-color: #e53935;
 }
 .flashSaleList .rainbow-item-5{
    border-top-color: #00c0a5;
 }
 .flashSaleList .rainbow-item-6{
    border-top-color: #ffac13;
 }
 .flashSaleList .rainbow-item-7{
    border-top-color: #83c44e;
 }
 .flashSaleList .rainbow-item-8{
    border-top-color: #2196f3;
 }
/*  */
/*  */
.box-bd .swiper-controls{
    position: absolute;
    right: 0;
    top: 24px;
}
.box-bd .swiper-controls span{
   display: inline-block;
    width: 24px;
    height: 16px;
    padding: 3px 5px;
    margin-left: -5px;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 16px; 
    color: #b0b0b0;
    transition: all .5s;
    cursor: pointer;
}
.box-bd .swiper-controls span:hover{
    color: #ff6700;
}
.box-bd .swiper-controls .sw_disable{
    transition: all .5s;
    color: #e0e0e0 !important;
    cursor: default;
}
.box-bd .swiper-controls span i{
    padding-left: 9px;
}
/* 中间广告条 */
.home-banner-box{
    height: 120px;
    margin: 22px 0;
}
.home-banner-box img{
    width: 1226px;
    height: 120px;
}

    